{{ $ll := .Site.Data.defaults }}
{{ $opts := .Site.Data.littlelink }}
{{ with index .Site.Params "littlelink" "links" }}
  {{ $opts = . }}
{{ end }}

{{ range $opts }}
  {{ $info := index $ll .type }}
  <a class="button button-{{ index $info "class" }}"
    href="{{ with .link }}{{ . }}{{ else }}#{{ end }}"
    target="_blank"
    rel="noopener"
    role="button"
  >
  {{ $img := printf "images/%s.svg" (index $info "icon") }}
  <img class="icon"
    aria-hidden="true"
    src="{{ $img | absURL }}"
    alt="{{ with .alt }}{{ . }}{{ end}}"
  />{{ .title }}
  </a><br>
{{ end }}
